.heading{
    background-color: blanchedalmond;
}

.addtolist-btn{
    background-color: rgb(197, 246, 151);
}

.amount{
    background-color: rgb(206, 239, 239);
}
.history{
    background-color:rgb(252, 234, 234);
}