body {
	/* /background: linear-gradient(-45deg, #0c0c0c,#8b8989, #5de1ef, #23a6d5, #efe81c, #f58e07); */
    background: linear-gradient(90deg, #2c3e50, #4ca1af );
    
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100vh;
    color: white;
    
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container{
    display: flex;
    justify-content: flex-start;
    margin: 20px;
    /* background-color: aquamarine; */
    
}
.section #date{
    color: white;
}
.section1{
    width: 40%;
    margin:10px;
    /* display: flex;
    flex-direction: column; */
    text-align: center;
    border: 2px solid white;
    border-radius: 10%;
    background-color: white;
    background: transparent;
    color: white;
    
}
.section1 .search-bar{
    text-align: center;
    
    /* display: flex;
    justify-content: flex-start; */
    
}
.section1 .loc{
    display: flex;
    justify-content: flex-start;
}
.loc-size{
    font-size: 20px;
}
.section1 .search-bar .searchbar-input{
    margin: 5px;
    /* width: 50%; */
}

.section1 #description, #temp, #date, #location{
    text-align: center;
    color: white;
}

.section1 #description{
    font-size: larger;
}


.section1 #temp{

}

.section1 #date, #location{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.section1 .list1{
    display: flex;
    justify-content: space-between;
}

.heading-section2{
    text-align: center;
}
.section2{ 
    width: 60%;
    margin: 10px;
    border-radius: 10%;
    background-color: white;
    border: 2px solid white;
    border-radius: 10%;
    background: transparent;
}
.section2 .list2{
    display: flex;
    justify-content: space-around;
}

.section2 .list2 .inside{
    display: flex;
    flex-direction: column;
    margin: 5px;
}

